/*
              <div class="ab-pj">
                    <div class="pj-name">
                        ${JSON.parse(value).name}
                    </div>
                    <div class="pj-p">
                        <input type="text">
                    </div>
                </div>
*/

.ab-pj {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pj-p  {
    width: 100%;
    text-align: center;
}
.pj-p input {
    background-color: var(--main-clear);
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    color:white;
}

.AlertBox {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;        background-color: var(--main-blue-dark);
    padding: 10px;
    border-radius: 5px;    padding-bottom:10px;

}
.ab-title {
    font-size: 25px;
    font-weight:600;
    margin-left: auto;
    margin-right: auto;
}

.ab-infos {
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    max-height: 50%;
}
.AlertBox button {
    margin-top: 10px;
    border-radius: 5px;
    height: 50px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border:solid 2px var(--main-blue-dark);
    background-color: var(--main-clear);
    color:white;
    font-size: 20px;
    cursor: pointer;
}
.AlertBox button:hover {
    background-color: white;
    color:var(--main-blue-dark)
}

@media screen and (320px <= width <= 420px) {
    .AlertBox {
        width: 90%;
        height: fit-content;
        background-color: var(--main-blue-dark);
        border-radius: 20px;
        margin: auto;
        max-height: 50%;
    }
    .AlertBox button {
        border-radius: 50px;
        width: fit-content;
        padding: 5px;
        padding-left:25px;
        padding-right: 25px;
        -webkit-tap-highlight-color: transparent;


    }
    .ab-infos {
        margin-top: unset;
        width: 90%;
        overflow-y: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        border-radius:10px;
        border-radius: 20px;
        max-height: 65%;

    }
    .pj-p input{
        width: 90%;
        padding-left: 10px;;
        border-radius: 5px;
    }
    .AlertBox button, .AlertBox button:hover {
        border-radius: 5px;
        border:none;
    }
    .ab-title {
        font-weight: 100;
    }

}