/*
              <div class="ab-pj">
                    <div class="pj-name">
                        ${JSON.parse(value).name}
                    </div>
                    <div class="pj-p">
                        <input type="text">
                    </div>
                </div>
*/

.ab-pj {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pj-p input {
    background-color: #19284d;
    border: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    width: 100%;
    color:white;
}

.AlertBox {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Garet", serif;
}
.ab-title {
    font-size: 25px;
    font-weight:600;
    margin-left: auto;
    margin-right: auto;
}

.ab-infos {
    margin-top: 20px;
    text-align: justify;
    line-height: 25px;
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden;

}
.AlertBox button {
    margin-top: 10px;
    border-radius: 5px;
    height: 50px;
    width: 450px;
    margin-left: auto;
    font-family: "Garet", serif;
    margin-right: auto;
    border:solid 2px #19284d;
    background-color: #19284d;
    color:white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.AlertBox button:hover {
    border: solid 2px red;
}

@media screen and (320px <= width <= 420px) {
    .AlertBox {
        width: 90%;
    }

}