/**
    PARTY
**/
  .finishedgoal {
    width: 100%;
    height: 400px;
    background-color: var(--main-blue-dark);
  }
  @keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 3s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }

  .firework:nth-child(4) {
    --x: -20vmin;
    --y: -20vmin;
  }
  
  .firework:nth-child(4),
  .firework:nth-child(4)::before,
  .firework:nth-child(4)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.1s;
  }

  .firework:nth-child(5) {
    --x: -10vmin;
    --y: -60vmin;
  }
  
  .firework:nth-child(5),
  .firework:nth-child(5)::before,
  .firework:nth-child(5)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.6s;
  }
  .firework:nth-child(6) {
    --x: -40vmin;
    --y: -30vmin;
  }
  
  .firework:nth-child(6),
  .firework:nth-child(6)::before,
  .firework:nth-child(6)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.05s;
  }

.finishedtitle {
    width: 100%;
    text-align: center;
    font-size: 21px;
}
.finishedtitle p {
    margin:unset;
    width: 100%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    color:rgba(255, 255, 255,0.6);
}
.textareafeedback {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.textareafeedback textarea::placeholder{
    color:rgba(255, 255, 255,0.4);
    font-style: italic;
}
.textareafeedback textarea {
    padding: 10px;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    width: 100%;
    z-index:80;
}
.textareafeedback button {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    border:none;
    color:white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-style: none none solid none;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 80;
}
.finisheddesc {
    width: 80%;
    color:rgba(255, 255, 255,0.6);
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.textareafeedback button:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
.g-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.finishedgoal {
    background-color: var(--main-clear);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid yellow;
    animation: 3s infinite glow, 2s showfinished;
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.finishedgoal img {
    position:absolute;
    width: 100px;
    bottom: -20;;
    left:-20;
    animation: 5s showparty;
}
@keyframes showparty {
    0% {
        opacity:0;

    }
    100% {
        opacity:1;
    }
}
@keyframes showfinished  {
    0% {
        height: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    100% {
        height: 400px;
        overflow-x: hidden;
        overflow-y: hidden;

    }
}
  @keyframes glow {
    0% {
      border-color: yellow;
    }
    25% {
      border-color: green;
    }
    75% {
      border-color: aqua;
    }
    100% {
      border-color: rgb(230, 0, 255);
    }
  }

.g-child-selector {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
    position:relative;
    margin: auto;
    justify-content: center;
}
#g-child-selector {
    visibility: visible;

}
.g-c-s-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: unset;
    border-radius: 5px;
    overflow-x: hidden;
    gap: 10px;
    border: 2px solid var(--main-blue-dark);
    background-color: var(--main-blue-dark);
}

#passwordProject {
    background-color: var(--main-clear);
}
.g-c-s-updt-t span {
    font-size: 17px;
}
.g-c-s-updt-t {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.g-c-s-updt {
    background-color: var(--main-clear);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 20px;;
    padding: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.g-c-s-u-inbox {
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
#update_empty {
    width: 100%;
    text-align: center;
    position:absolute;
    bottom:5;
    left:0;
    right:0;
    margin:auto;
    color:red;
    font-size: 12px;
}

.g-c-s-u-u button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--main-blue-dark);
    color:white;
    border:none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 30px;
    width: 30px;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.g-c-s-u-p {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    outline:none;
}
.g-c-s-u-p input::placeholder{
    color:rgba(255, 255, 255,0.6);
    font-style: italic;
}
.g-c-s-u-p input {
    background-color: var(--main-blue-dark);
    border:none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    color:white;
    width: 100%;
    height: 35px;
    outline:none;
}

.g-c-s-u-u button:hover span {
    transition: 0.4s;
    transform: rotate(360deg);
}

.g-c-s-c-g {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}


.g-c-s-c-p {
    width: 100%;
    text-align: center;
}
#select-pj-goal {
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background-color: var(--main-clear);
    border: 2px solid var(--main-clear);
    width: 80%;
    color:white;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-left: auto;
    margin-right:auto;
    z-index:20;
}

.g-c-s-management {
    width: 50%;
    padding: 20px;
    padding-left: unset;
    padding-right: unset;
    height: fit-content;
    gap: 5px;
    overflow-y: auto;
    border-radius: 5px;
    overflow-x: hidden;
    margin-top: auto;
    margin-bottom: auto;
    position:relative;
    height: fit-content;
    overflow-y: auto;
    padding-bottom: 50px;
}

.g-c-s-m-s {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.g-c-s-m-c-t {
    position: absolute;
    font-size: 15px;
    border-radius: 10px;
    top:-12px;
    left:10;
    background-color: var(--main-clear);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}
.g-c-s-m-c {
    width: 100%;
    gap: 10px;
    border-radius: 5px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    row-gap: 5px;
    column-gap: 5px;
    grid-auto-rows: fit-content(1px);    
    background-color: unset;
    text-align: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}



.g-c-s-m-c button {
    position:relative;
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border: none;
    background-color: var(--main-clear);
    color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid var(--main-clear);
}
.g-c-s-m-c button:hover {
    background-color: white;
    color:var(--main-blue-dark)
}


.g-c-s-separator {
    width: 100%;
    height:1px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.g-c {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: -10px;
}
#_1 p,#_2 p {
    text-align: left;
    margin-left: 5px;
    width: 100%;
}
.g-c #_1,.g-c #_2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor:pointer;
    border: 1px solid  var(--main-blue-dark);
    border-radius: 5px;
    width: 80%;
    overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
}
.g-c #_1:hover ,.g-c #_2:hover {
    background-color: white;
    color:var(--main-blue-dark)
}







.g-c-s-c-C {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-blue-dark);
    padding: 10px;
    padding-top: unset;
    gap:5px;
}
.g-c-s-c-t {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap:10px;
    height: 35px;
    align-items: center;
    padding-top: 0px;
    padding-bottom:0px;   
}
#select-pj-goal:hover, #SaveGoalButton:hover {
    background-color: white;
    color:var(--main-blue-dark)
}
.child-viewer {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    border-radius: 5px;
    visibility: hidden;
    position:absolute;
    overflow-y: auto;
    overflow-x: hidden;
}
#error-no-goal {
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    bottom: 2; left: 0; right: 0;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    width: fit-content;
    border-style: none none solid none;
    padding-bottom: 5px;
}




.c-v-c {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    overflow-x: hidden;
    height: fit-content;
}
.contain_infos {
    background-color: var(--main-clear);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    position:relative;
}
.c-v-content-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.c-v-c-t {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: var(--main-clear);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items:center ;
}
.c-v-c-t p {
    margin:unset;
    font-size:20px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    border-style: none none solid none;
    padding-bottom: 2px;
    margin-top: 2px;

}
.c-v-c-t p:hover {
    border: 1px solid white;
    border-style: none none solid none;
}
.c-v-c-s {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position:relative;
}
.c-v-c-s-t {
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.bar {
    height: 30px;
    width: 90%;
    background-color: var(--main-blue-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-clear);
    position:relative;
    border-radius: 5px;
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: hidden;
}

.bar-hover {
    height: 30px;
    background-color:#FFC55C;
    position:absolute;
    z-index: 10;
    left:0;
    border-radius: 5px;
}
#contentinfostatshiddentoday, #contentinfoswholehidden {
    visibility: hidden;
    position:absolute;
}
#todaybar, #wholebar {
    -webkit-tap-highlight-color: transparent;

}
#todaybar:hover #contentinfostatstoday , #wholebar:hover #contentinfoswhole    {
    visibility: hidden;
    position:absolute;
}

.contentinfostats, .contentinfostatshidden {
    z-index: 10;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--main-clear);
    border-radius: 5px;
}

#todaybar:hover #contentinfostatshiddentoday,#wholebar:hover #contentinfoswholehidden  {
    visibility: visible;
    position:relative;
}
.c-v-c-mt {
    font-size: 20px;
    width: fit-content;
    height: 20px;
    padding: 10px;
    margin-top: 5px;
    border-style:  none none none solid;
    padding-left: 20px;
    border-width: 2px;


}
.content-infos {
    width: 100%;
    height: fit-content;
    background-color: var(--main-clear);
    gap:10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 50px;
    border-radius: 5px;
    position:relative;
}
#buttonpjjump  span {
    font-size: 16px;
}
#buttonpjjump {
    position:absolute;
    bottom:5;
    left:0;
    right:0;margin:auto;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-blue-dark);
    color:white;
    border:none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
#buttonpjjump:hover {
    background-color: white;
    color:var(--main-blue-dark)
}

.content-infos-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    justify-content: center;
    padding-left: 20px;
}
.content-infos-infos div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.strikeBallContent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position:relative;
}
.strikeBall {
    width: 20px;
    height: 20px;
    background-color: var(--main-blue-dark);
    border-radius: 50%;
    border: 2px solid white;
    z-index: 2;
}

.strikebar {
    width: 80%;
    background-color: var(--main-blue-dark);
    height: 10px;
    position:absolute;
    z-index: 1;
    border-radius: 10px;
}
@keyframes RollScroll {
    0% {transform:rotate(180deg)}
    100% {transform:rotate(360deg)}
  }
.openContainer {
    position:absolute;
    left:20;
    -webkit-tap-highlight-color: transparent;
    top:10;
    margin:auto;
    cursor: pointer;
    z-index: 50;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.openContainer:hover{
    background-color: white;
    color:var(--main-blue-dark)
}
.content-info-updates {
    width: 100%;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;    
    background-color: var(--main-clear);
}



.content-desc {
    width: 95%;
    height: fit-content;
    text-align: justify;
    font-style: italic;

    justify-content: unset;
    align-items: unset;
}
.content-infos-infos {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.content-infos-infos::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.update {
    display: flex;
    flex-direction: row;
    background-color: var(--main-blue-dark);
    align-items: center;
    position:relative;
    height: fit-content;
    padding: 5px;
    border:none;
    gap: 10px;
}
.updateday, .updatecount, .updateday {
    border:1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 0px 0px;;
    padding-bottom: 5px;
    border-style: none none solid none;
}
.updatedel {
    position:absolute;
    right:5;
}





/*
    <div class="editGoalContent">
      <div class="EGC-c">
        <div class="EGC-c-t">
          <span class="material-symbols-outlined">
          edit_note
          </span>
          Goal name
        </div>
        <div class="EGC-c-c">
          <input type="text" id="goalName">
        </div>
      </div>
*/
.editGoalContent button {
    width: fit-content;
    background-color: var(--main-blue-dark);
    color:white;
    border-radius: 5px;
    height: 50px;
    font-size: 18px;
    padding:10px;
    padding-left: 35px;
    padding-right: 35px;
    border:none;
    cursor: pointer;
}

.EGC-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.EGC-c-c {
    width: 100%;
}
.EGC-c input,.EGC-c textarea{
    width: 95%;
    background-color:var(--main-blue-dark);
    border:none;
    border-radius: 5px;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color:white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.EGC-c textarea{
    padding-top: 10px;
    width: 95%;
    height: 100px;
}
.EGC-c input[type="number"] {
    width: 100px;
    cursor: unset;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
#StartedOn{
    width: 50%;
    cursor: unset;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.EGC-c-t{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size:20px;
    gap:10px;
}

.editGoalContent {
    width: 95%;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
    background-color: var(--main-clear);
}
.EGC-c-d {
    width: 100%;
    font-size:12px;
    padding-top: 5px;
    color:rgba(255, 255, 255,0.6);
    padding-bottom: 5px;
}
.confirmPassword {
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    text-align: center;
}
.confirmPassword input {
    width:80%;
    border-radius: 5px;
    outline:none;
    color:white;
    padding-left: 10px;
    border:none;
    height: 30px;
    padding-right: 10px;

}
.confirmPassword button {
    width: 50%;
    border-radius: 5px;
    outline:none;color:white;
    background-color:var(--main-blue-dark);
    border:none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.confirmPassword button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}
#_1, #_2 {
    background-color: var(--main-clear);
 }

 .huge-separator {
    display: none;
 }
@media screen and (320px <= width <= 420px) {
    .g-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0px;
        height: 130%;
        overflow-y: auto;
    }

    .g-c-s-c-t p {
        visibility: hidden;
        position:absolute;
    }
    .g-c-s-container {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 50%;
        border-radius: 0px;
        align-items:flex-start;
        margin:0px;
        padding-bottom: 5px;
    }
    .g-c-s-c-p, .g-c-s-c-g {
        margin-top: 0px;
    }
    .editGoalContent {
        width: 95%;
    }
    .g-c-s-c-t {
        padding: unset;
        margin-top: 0px;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .g-c-s-c-C {
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center;
        height: fit-content;
        margin-top: 0px;
        gap:10px;
        width: 90%;
        padding: 10px;
        border-radius:10px;
    }
    .g-c-s-c-C span {
        display: none;
    }
    .g-c-s-m-c  {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom: 20px;
    }
    #error-no-goal {
        position:absolute;
        bottom:0;
        top:unset;
        font-size: 15px;
        left:0;right:0;margin:auto;
        color:white;
        width: fit-content;
        border-style: none none solid none;
        padding: 5px;
        border-color: red;

    }
    .g-c-s-m-c-t {
        position:absolute;
        visibility: hidden;
    }
    .g-c-s-management {
        height: fit-content;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        padding-left: unset;
        padding-right: unset;

        margin:unset;
        padding-bottom: 1px;
    }
    .g-c-s-m-c {
        position:relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-y: hidden;

        height: fit-content;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        padding-bottom: 30px;

    }
    .g-c-s-m-c button, .g-c-s-m-c button:active,.g-c-s-m-c button:focus {
        -webkit-tap-highlight-color: transparent;


        height: 50px;
        border:none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #_1, #_2 {
        font-size: 20px;
    }
    .g-child-selector {
        width: fit-content;
        height: 150%;
        padding: 10px;
        width: 80%;
        justify-content: center;
        padding-top: unset;
        margin:auto;
        border-radius: 20px;
        gap:30px;
        flex-direction: column;
    }

    .child-viewer {
        height:100%;
        border-radius: 10px;
        background-color: rgba(0,0,0,0);

    }
    .c-v-c {
        width: 100%;
        overflow-y: scroll;
        border-radius: 10px;
    }
    .content-infos {
        height: 40%;
        position:relative
    }
    .content-infos-infos {
        justify-content: unset;
        width: 100%;
        overflow-y: auto;
        height: 70%;
        padding-top: 5px;
        padding-bottom: 5px;

    }
    .content-stats {
        align-items: start;
        justify-content: start;
        text-align: start;
    }
    .content-info-updates {
        height: 30%;
        width: 100%;
        border:2px solid white;
        border-style:solid none none none;
        border-radius: 0px 0px 5px 5px;
    }
    .strikeBallContent {
        gap: 15px;
    }
    #buttonpjjump {
        font-size: 12px;
    }
    .finishedgoal img {
        width:50px;
        left: -10;;
        bottom:-10;
    }
    .g-c-s-updt {
        width: fit-content;
        right:0;
        top:unset;
        bottom:0;
        left:0;
        margin:auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    .g-c-s-u-inbox {
        width: 100%;
    }
    .g-c-s-u-p {
        width: 100%;
    }
    .g-c-s-u-p input {
        width: 100%;
    }
    .g-c-s-m-c button, .g-c-s-m-c button:active,.g-c-s-m-c button:focus,.g-c-s-m-c button:hover {
        width: 100%;
        background-color: var(--main-clear);
        border-radius: 5px;
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 15px;
        height: 40px;
    }
    .g-c-s-m-c {
        display: grid;
        grid-template-columns: repeat(auto-fill, 48%);
        row-gap: 5px;
        column-gap: 5px;
        grid-auto-rows: fit-content(1px);    
        background-color: unset;
    }
    .g-c #_1:hover ,.g-c #_2:hover {
        border: 2px solid var(--main-clear);
    
    }
    #select-pj-goal,    .g-c #_1,    .g-c #_2 {
        border: 2px solid var(--main-clear);
        width: 100%;
        font-size: 17px;    
        height: 40px;
        border-radius: 5px;
    }
    .g-c #_1 span,.g-c #_2 span{
        display: flex;
        background-color: var(--main-blue-dark);
        padding: 5px;
        border-radius: 50%;
        margin: auto;
    }
    .g-c-s-c-p select:hover {
        border: 2px solid var(--main-clear);
        cursor: pointer;

    }
    .EGC-c-d {
        text-align: left;
    }
    .EGC-c-c {
        text-align: left;
    }
    .EGC-c-c input {
        width: 100%;
    }
    .EGC-c-c input[type="number"],#StartedOn {
        width: 40%;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
    }
    #goalDays {
        border-radius: 0px 5px 5px 0px;

    }
    #SaveGoalButton {
        width: 100%;
    }
    .confirmPassword {
        width: 100%;
        background-color: unset;
    }
    #select-pj-goal:hover {
        border: 2px solid rgba(0,0,0,0);
    }
    .openContainer:hover {
        animation:unset;
    }
    .openContainer {
        top:5;
        left:0;
        bottom:unset;

    }
}