.ifo-m {
    width: 90%;
    height: 85%;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    position: relative;

}
.ifo-m-t {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 10px;
    width: 130px;
    position:absolute;
    align-items: center;
    width: 100%;
    justify-content: center;
    left: 0; 
    right: 0; 
    top:25;
    margin-left: auto; 
    margin-right: auto; 
}

.ifo-s {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ifo-bx-t {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    position:relative;
}
.Spenhancedmore {
    position:absolute;
    right:0;
    top:0;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;;
}
.Spenhancedmore:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
.ifo-bx {
    display: flex;
    flex-direction: column;
    gap: 1px;

    width: 80%;
    padding: 10px;
    border: solid 0.5px white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.param-header {
    width: 90%;
    position:absolute;
    background-color: var(--main-clear);
    height: 2px;
    border-radius: 50px;
    z-index: 0;
    margin:auto;
    top:0;right:0;left:0;bottom:0;
}
.param-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 9;
    background-color: var(--main-blue-dark);
    margin-left: auto;
    margin-right: auto;
}
.ifo-bx-d {
    padding: 5px;
    font-size: 13px;
    text-align: justify;
    color:rgba(255, 255, 255,0.7);
}
.ifo-bx-d a {
    color:rgba(255, 255, 255,0.9);

}
#spt-ttl {
    margin-top: 30px;

}
.sp-ttl {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position:relative;
}
.ifo-m-c {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}



.ifo-m-c-un,.ifo-m-c-ps,.ifo-m-c-em {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: unset;
}

.ifo-m-c-un-t,.ifo-m-c-ps-t,.ifo-m-c-em-t {
    font-size: 13px;
    position: absolute;
    top:-9;
    left: 4;
    background-color: var(--main-blue-dark);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}


.ifo-m-c-u,.ifo-m-c-p,.ifo-m-c-e {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.ifo-m-c-u textarea,.ifo-m-c-p textarea,.ifo-m-c-e textarea {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--main-clear);
    padding: 7px;
}
.ifo-m-c-u button,.ifo-m-c-p button,.ifo-m-c-e button {
    width: 40px;
    height: 30px;
    background-color: var(--main-blue-dark);
    color:white;
    border:2px solid var(--main-blue-dark);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#premium {
    border-color: yellow;
}
#datas {
    border-color: green;
}
#feat {
    border-color:aqua;
}

.ifo-bt {
    display: flex;
    flex-direction: column;

}

.ifo-bt-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.ifo-bt-b button {
    width: 40%;
    height: 50px;
    color:white;
    border-radius: 5px;
    background-color: var(--main-clear);
    border: 2px solid var(--main-blue-dark);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.ifo-bt-b button:hover {
    background-color:white;
    color: var(--main-blue-dark);
}


#security button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}


.param-info-wh {
    font-size: 13px;
    color:rgba(255, 255, 255,0.4);
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (320px <= width <= 420px) {
    .param-info-wh {
        width: 90%;
    }
    .ifo-m {
        width: 90%;
        margin:unset;
        padding: unset;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 100%;
    }
    .ifo-m-c-u button:hover, .ifo-m-c-p  button:hover{ 
        border: none;
    }
    .ifo-m-c-u button:active, .ifo-m-c-p  button:active{
        border-style: outset;

    }
    .ifo-m-t {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    .ifo-bt button {
        border-radius: 5px;        width:90%

    }
    .whole-header-ch {
        width: 100%;
        height: 50px;
    }
    .ifo-m-c {
        width: 100%;
    }
    .ifo-m-c-un,.ifo-m-c-ps,.ifo-m-c-em {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: unset;
    }
    .ifo-m-c-un-t,.ifo-m-c-ps-t, .ifo-m-c-ps-t {
        left: 80;
    }
    #sp-ttl {
        margin-top: 150px;
    }
}  