
:root {
    --main-blue-dark: #19284d;
    --main-clear:#1d2d55;
    --main-background-color: #19284d;
  }
body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Distressed', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    color: white;
    background-color:  var(--main-blue-dark);
    overflow-y: hidden;
}



.customize_app {
    position:fixed;
    right:10px;
    bottom:10px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    z-index: 50;
  }
  .ca-b p {
    margin:none !important;
    display: none;
}
.ca-b:hover p{
    display: inline;
    margin:none !important;

}
  .customize_container button span {
    font-size: 15px;
  }
  .ca-b {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    background-color: var(--main-clear);
    margin-top: auto;
    cursor: pointer;
  }
  .customize_container button {
    padding: 5px;
    color:white;
    background-color: var(--main-blue-dark);
    border:none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }
  .containerbutton {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap:1px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  #widthsize {
    position:absolute;
    right:5;
  }
  .closecustomcontainer {
    position:absolute;
    right:5;
    top:5;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
  }
  .closecustomcontainer:hover {
    background-color: white;
    color:var(--main-blue-dark)
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--main-clear);
    border-radius: 5px;
  }
  
  input[type="range"]::-moz-range-track {
    background: var(--main-clear);
    border-radius: 5px;
  }
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   background-color:var(--main-blue-dark);
   height: 1rem;
   width:10px;    
}
  .cc-b {
    background-color: var(--main-blue-dark);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:5px;    
}
  .customize_container p {
    margin: unset;
    font-size: 12px;
    color:rgba(255, 255, 255,0.5);
    padding-right: 10px;
  }
  .cc-i {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
  }
  .customize_container {
    display:flex;
    flex-direction: column;
    gap: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--main-clear);
    border-radius:5px;
    position:absolute;
    width: 50%;
    height: fit-content;
    bottom:10px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index:50;
    display: none;
  }
  .customize_container h2 {
    margin-left: auto;
    margin-right: auto;
  }
  .customize_container button:hover {
    background-color: white;
    color:var(--main-blue-dark)
  }

  .customize_app:hover .ca-b {
    background-color: white;
    color:var(--main-blue-dark);
  }
  .cc-i input {
    background-color: var(--main-clear);
    padding: 5px;
    border-radius: 5px;
    border:none;
    outline:none;
    color:white;
    width: 80%;
  }
  .cc-i input::placeholder{
    color:rgba(255,255,255,0.6);
    font-style: italic;
  }
  .cc-i input[type="color"] {
    padding: 0px;
    border:1px solid grey;;
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius:5px;
    cursor: pointer;
  }
  .cc-i input::-webkit-color-swatch {
    border-radius: 5px;
    height: 23px;
    margin-top: -4px;
    border:none;
  }
  .cc-i input::-moz-color-swatch {
    border-radius: 5px;
    height: 23px;
    margin-top: -4px;
    border:none;
  }
  .cc-i input[type=range] {
    -webkit-appearance: none;     /*nécessaire pour Chrome */
    padding: 0;                   /* nécessaire pour IE */
    font: inherit;                /* même rendu suivant font document */
    outline: none;
    color: #21325c;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
    opacity: 1;
    background: var(--main-clear);             /* sert pour couleur de fond de la zone de déplacement */
    box-sizing: border-box;       /* même modèle de boîte pour tous */
    transition: opacity .2s;
    cursor: pointer;
  }

#ad {
    position:absolute;
    top:0;bottom:0;margin:auto;
    height: 40%;
    border-radius: 5px;
    width: 10%;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: var(--main-blue-dark);
}
.ADTT {
    position:absolute;bottom:5;z-index: 50;
   font-size:8px;;
    width: 90%;
    text-align: center;
}
.addjoin button {
    background-color: var(--main-blue-dark);
    border:none;
    border-radius: 5px;
    border:1px solid var(--main-blue-dark);

    height: 40px;
}
.addjoin button:hover {
    border:1px solid white;
}

.myAdd {
    position:absolute;
    top:5;
    left:0;right:0;margin:auto;

    width: 100%;
    text-align: center;


}
.myAdd button {
    width: fit-content;
    background-color: var(--main-blue-dark);
    font-size: 10px;
    color:none;outline:none;
    border: none;
    cursor: pointer;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:5px;
}
.myAdd button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}


.Title {
    width: 100%;
    position:relative;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-left: 5px;
    overflow-y: hidden;

}

.Title a {
    font-size: 25px;
}
.Title img {
    border-radius: 50%;
}
.Main {
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    position:relative;

}
.theme-divider {
    background-color: rgb(255, 255, 255);
    width: 1px;
    height: 90%;
}

.Project, .Progress {
    margin: 20px;
    width: 190px;
    visibility: hidden;
    
}
body a {
    text-decoration: none;
    color:unset
}



  @keyframes slidein1 {
    0% {
        border-radius: 5px;
        width: 0px;
        height: 0px;
    }
    50% {
        width: 95%;
        height: 95%;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%;   

    }
  }
  @keyframes slideinOne {
    0% {
        border-radius: 5px;
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    50% {
        width: 99%;
        height: 99%;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%; 

    }
  }
.circle {
    border-radius: 50%;   
    width: 99%;
    height: 99%;
    position:absolute;
    top:0;right:0;left:0;bottom:0;margin:auto;
    background-color: white;    
    z-index: 1;
    animation: slideinOne;
    animation-duration: 5s;
    animation-delay: 0.1s;
}
.circlehide {
    border-radius: 50%;   
    width: 95%;
    height: 95%;
    position:absolute;
    top:0;right:0;left:0;bottom:0;margin:auto;
    background-color:var(--main-clear);    
    z-index: 2;
    animation: 3s slidein1;

}
@keyframes overall {
    0% {
        position:fixed;
        width:20px;
        height: 20px;
        left:0px;right:0px;bottom:0px;top:0px;
        margin:auto;
        visibility: visible;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;

    }
  }

.imgcontan {
    position:absolute;
    width: 350px;
    height: 350px;
    animation: 5s overall;
    left:0;right:0;bottom:0;top:0;
    margin:auto;        
    opacity: 0.5;
    display: none;

}
@keyframes TextWelcome {
    0% {
        opacity:0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
.imgcontantext {
    position:absolute;
    bottom:-80;
    left:0;right:0;margin:auto;
    width: fit-content;
    text-align: center;
    font-size: 50px;
    height: fit-content;
    opacity: 0;
    z-index: 5;
    animation: 5s 2s TextWelcome;
    font-style: "garet" serif;
}
.minitext {
    font-size: 15px !important;
    padding-top: 5px;
}
#SprintPlusLogo {
    z-index: 3;
    position:absolute;
    width: 80%;
    left:0;right:0;bottom:0;top:0;
    margin:auto;
    animation: 3s logoslide;
}

@keyframes logoslide {
    0% {
        filter:blur(10px)
    }
    100% {
        transform: rotate(360deg);  
        filter:blur(0px)

    }
  }
#logo {
    width: 70px;
    border-radius: 5px;
    background-color: unset !important;
}

.img-content {
    width:23%;
    display: flex;
    flex-direction: column;
    z-index: -1;

    right:50;
    opacity: 0.9;
    position:absolute;
}
.Base {
    position: absolute;
    bottom:50px;
    width: 100%;
    height: 55px;
    z-index: 10;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.prm-vs-bs, .prm-bs-cl {
    height: 35px;
    width: 35px;
    position: absolute;
    background-color: #24335a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prm-vs-bs {
    bottom:45px;
    left:10px;
}
.prm-bs-cl {
    bottom:5px;
    left:10px;
}

.prm-vs-ck {
    display: flex;
    gap:5px
}
.bs-ck-pm-p {
    cursor: pointer;
    border-radius: 50%;
}
.bs-ck-pm-p:hover {
    background-color: #24335a;
}
.ck-new {
    border-radius: 5px;
    border: 2x solid;
    display: flex;
    flex-direction: row;
    width: 15%;
    position: absolute;
    right:0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    gap: 10px;
}
.whole-bs-pm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#prm-vs-ck-p {
    transform: scale(1.3);
}



.all-c-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start !important;
    cursor: pointer;
    width: 90%;
    padding-left: 10px;
    padding-right: 30px;
    height: 45px;
    gap:10px;
    border-radius: 5px;
    font-size: 15px !important;
    background-color: var(--main-clear);
    position:relative;
    transition: 0.2s;
}
.all-c-p-d-d {
    position:absolute;
    z-index: 5;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    left:5;
    right:0;
    margin:auto;
    bottom:0;
    font-size: 13px;
    color:rgba(255,255,255,0.6);
    visibility: hidden;
}
.all-c-p:hover .all-c-p-d-d {
    visibility: visible;
    color:var(--main-blue-dark);
}

.all-c-p:hover:not(#home, #user) {
    background-color: white;
    color:var(--main-blue-dark);
    border-radius: 5px;
    padding-bottom: 10px;

}
#home:hover,#user:hover {
    background-color: white;
    color:var(--main-blue-dark);
    border-radius: 5px;

}


.all-contain {
    height: fit-content;
    z-index: 100;
    width: 180px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;

    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
    left:-200px;
    margin:auto;
    top:0;
    transition: 0.5s;
    padding-right: 50px;
    background-color: var(--main-blue-dark);
    border: 2px solid var(--main-clear);;
    
}
#menutext {
    transform: rotate(90deg);
    width: 100%;
    text-align: center;
    z-index: 50;
    background-color: var(--main-clear);
    height: fit-content;
    position:absolute;
    top:0;bottom:0;
    padding: 5px;
    border-radius: 5px;
    margin:auto;
    left:100px;
    transition: 0.5s;
}
.all-contain:hover {
    left:0;
}
.all-contain:hover #menutext {
    opacity: 0;
}
.Logs a {
    right: 150;

}
.Support a {
    right:10;
    z-index: 20;

}


.Logs a, .Support a {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    border: 2px solid  var(--main-blue-dark);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    border-radius: 5px;
    background-color: var(--main-clear);
}
.Support a, .Logs a, .Support span, .Logs span {
    font-size:20px !important;

}
.Support a:hover, .Logs a:hover {
    background-color: white;
    color:var(--main-blue-dark);
}


.f-more {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position:absolute;
    visibility: hidden;
}
#notifclass {
    position:relative;

}
.notifnb {
    position:absolute;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(181, 41, 41);
    border-radius: 50%;
    font-weight: bold;
    right:-5;top:-5;
    visibility: hidden;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-more-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow-y: auto;
}
.utilities   {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 80%;
    position:absolute;right:0;
}

.featuring, .m-m-i {
    border-radius: 5px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 70%;
}
.f-f {
    overflow-y: auto;
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.f-t {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    border-style: none none solid none;
    border-radius: 5px 5px 0px 0px;
    border-width: 0px 0px 2px 0px;
    position:relative;
    height: 20px;
    border-color: white;
    background-color: var(--main-blue-dark);
}
.f-t-center:hover {
    border: 2px solid white;
    border-style:none none solid none;

}
.f-t-center {
    position:absolute;
    right:10;
    padding: 5px;
    padding-bottom: 1px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0);
    border-style:none none solid none;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
}
.featured {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    background-color: var(--main-clear);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.ft-t {
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.ft-d {
    padding: 10px;
    text-align: center;
    line-height: 21px;
}



#contactteam {
    width: 90%;
    background-color: #ba8b35 ;
    border: 1px solid  #ba8b35;
}
#contactteam:hover {
    border: 1px solid white;
}



.m-m-td {

    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    max-height: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.featured button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 10px;
    cursor:pointer;
    background-color: #24335a;
    border: 1px solid  var(--main-blue-dark);
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;

}
.featured button:hover {
    background-color:white;
    color: var(--main-blue-dark);
}
/*
                <div class="alert">
                  <div class="c-m">
                      ${cm[Math.floor((Math.random() * cm.length))]}
                  </div>
                  <div class="c-d-c">
                    You didn't work on « ${g.name} » today!
                  </div>
                </div>
*/

.alert {
    width: 90%;
    background-color: var(--main-clear);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    border-radius: 5px;
}
.c-m {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding-top:5px ;
    padding-bottom: 5px;
    gap: 10px;
    position:relative;
}
.c-m span {
    font-size: 18px;
}
@keyframes rotateSpan {
    0% {
        border: 2px solid rgba(0,0,0,0);
        border-style: none none solid none;
    }
    50% {
        border: 2px solid red;
        border-style: none none solid none;
    }
    100% {
        border: 2px solid rgba(0,0,0,0);
        border-style: none none solid none;
    }
  }

  .AlertDate {
    font-size: 12px;
    position:absolute;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    top:0;bottom:0;margin:auto;
    font-weight: normal;
    height: fit-content;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--main-clear);
    border-radius: 5px;
  }
.c-m span {
    animation: 2s infinite rotateSpan; 
    color:red;
}
.c-d-c {
    border: 1px solid  var(--main-clear);
    cursor: pointer;
    background-color: var(--main-clear);
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
}
.c-d-c:hover {
    background-color:white;
    color:var(--main-blue-dark);

}


    .learnmorefavsto {
        position:absolute;
        right:10;
        font-size: 15px;
        padding: 5px;
        padding-left:10px;
        padding-right:10px;
        border-radius: 5px;
        cursor:pointer;
    }

    .learnmorefavsto:hover {
        background-color: white;
        color:var(--main-blue-dark);
    }
.nothing-to-see-here {

    padding: 5px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}


/*
        <div class="more">
          <div class="mor-t" title="Want your story to be there? Contact our team.">
            Our favorite stories
          </div>
          <div class="mor-st">
            <div class="st">
              <div class="st-t">
                FR - Nous, et le monde
              </div>
              <div class="st-o">
                <span class="material-symbols-outlined">
                  open_in_new
                  </span>
              </div>
            </div>
          </div>
*/
.more {
    height: 100px;
    width: 100%;
    padding: 0px;
    gap: 10px;
    border-radius: 5px;
}
.mor-st {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position:relative;
    align-items: center;
}
/*
    <div class="fancybar" id="NousEtLeMonde"></div>

*/

@keyframes TransFormUI {
    0% { color: #F9A602; }
    100% { color: white; }

    
  }
#NousEtLeMonde {
    animation: 2s infinite alternate TransFormUI;
}
.st {
    position:relative;
    display: flex;
    width: 90%;
    flex-direction: row;
    height: 40px;
    align-items: center;
    gap: 0px;
    background-color: var(--main-clear);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.st-o span {
    border-radius: 50%;
    padding: 6px;
}
.st-o span:hover {
    background-color: #24335a;
}
.st-o {
    margin-left: auto;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}
.st-l {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color:yellow;
}
.st-l span {
    font-size: 15px;
}
.mor-t {
    padding-bottom:10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    position:relative;
    gap: 10px;
    align-items: center;
    border: 2px solid white;
    border-style: none none solid none;
    border-radius: 5px 5px 0px 0px;
     background-color: var(--main-blue-dark);
     padding: 10px;

}


::-webkit-scrollbar {
    cursor:pointer;
    width: 2px;
    height: 2px;;
}
    /* Track */
    ::-webkit-scrollbar-track {
      background: unset;
      border-radius: 2px;
      cursor: pointer;
      padding: 1px;  

    }

    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: white;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px;

    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--main-blue-dark);
        border: 1px solid white;    border-radius: 5px;

    }
.welcome-f {
    background-color: #68511c;
    padding: 15px;
    background-color: var(--main-clear);;
    border-radius: 5px;
    overflow-y: auto;
}

.q-q {
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    position:relative;
    padding-top: 20px;
}

.q-t {
    position: absolute;
    top:-15;
    padding: 5px;
    background-color: var(--main-clear);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}


.openContainer {
    background-color: var(--main-clear);
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items:center ;
    justify-content: center;
    cursor:pointer;
}

@media screen and (320px <= width <= 420px) {
    body {
        position:relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: unset;
        width: 100%;
        height: 100%;
        gap:0px;
    }
    .utilities {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap:20px;
        height: 98%;
        width: 100%;
        border-radius:unset;
        padding: 0px;
        left: 0px;
    }
    .Main {
        padding:none;
        display: flex;
        width: 130%;
        min-height: 94%;
        max-height: 94%;
        height: 100%;
        display: flex;
        margin-top: 30%;
        padding-left: unset;
        gap:20px;
        margin-right: auto;

        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .alert {
        border-radius: 5px;
    }
    .c-d-c {
        background-color: var(--main-clear);
        border: 2px solid var(--main-clear);
        border-radius:5px;
    }
    .Main::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .more {
        height: 100%;
        width: 100%;
        position:relative;
        margin-top: 30px;
        background-color: unset;
    }
    .img-content {
        visibility: hidden;
        position:absolute;
    }
    #widthsize {
        display: none;
    }
    .f-t-center {
        border: 2px solid var(--main-clear);
        border-radius: 5px;
        width: 25px;
        padding:5px;
        height: 25px;
        right:4;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 5px 5px 5px;
    }

    .f-t, .mor-t {
        border-radius: 5px 5px 0px 0px;
        border-style: unset;
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .Logs span, .Support span {
        font-size:10px;
    }
    .Logs a , .Support a {
        position:unset;
        font-size: 10px;
        background-color: unset;
    }
    .f-t {
        width: 97.5%;
    }
    .main-more-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
    }
    .m-m-i {
        width: 100%;
        height: fit-content;
        max-height: 100%;
        padding-right: 10px;
    }
    .featuring {
        display:none;
    }
    .Title {
        display: none;
    }

    #menutext {
        display: none;
    }
    .all-contain {
        width: 100%;
        left: -10px;
        height: 50px;
        flex-direction: row;

        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        top:0px;
        margin:unset;
        position:fixed;
        border-radius: 0px 0px 5px 5px;
        gap:5px;
        font-size: 20px;
        border:none;
    }
    .all-contain  {
        left:-10px !important;right:0;
    }
    .all-c-p span {
        font-size: 30px;
    }

    .all-c-p {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 5px;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .all-c-p-d, .all-c-p-d-d {
        visibility: hidden;
        position:absolute;
        display: unset;
    }
    .mor-st {
        height: fit-content;
        max-height: 200px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .st {
        width: 95%;
        margin: unset;
        border-radius: 5px;
    }
    .all-c-p-d, .all-c-p-d-d {
        visibility: hidden;
        position:absolute;
    }
    .all-c-p:hover {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 50%;
        -webkit-tap-highlight-color: transparent;
    }
    .all-c-p:hover .all-c-p-d, .all-c-p:hover .all-c-p-d-d{
        visibility: hidden;
        position:absolute;
    }
    .all-c-p:hover span {
        visibility: hidden;
        position:absolute;
    }
    .all-c-p-d, .all-c-p-d-d {
        visibility: hidden;
        position:absolute;
    }

    .all-c-p:hover {
        font-size: 20px;
        color:white;
        border-radius: 10px;
    }
    .all-c-p:hover .all-c-p-d, .all-c-p:hover .all-c-p-d-d{
        visibility: hidden;
        position:absolute;
    }
    .all-c-p:hover span {
        visibility: visible;
        position:relative;
    }
    .Support a:hover, .Logs a:hover {
        font-weight: bold;
    }
    .featured button:hover {
        border: 1px solid var(--main-blue-dark);
    
    }
    #ad {
        width:100%;
        position:fixed;
        height: 17%;
        padding-right: 10px;
        border-radius:0px;
        bottom:0px;
        margin:unset;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        position:fixed;
        left: -10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-style: solid none solid none;
        display: none;

    }
    .myAdd {
        left:5;
        width: 100px;
        right:unset;
        top:unset;
        bottom:5;
        margin:unset;
        color:rgba(255,255,255,0.6)
    }
    .myAdd button {
        background-color: unset;
        font-size: 10px;
        height: fit-content;
        padding: unset;
    }
    .myAdd button:hover {
        color:white;
        background-color: var(--main-clear);
    }
    .addjoin button:hover {
        border:none;
    }
    .addjoin {
        width: fit-content;
        padding-left: 70px;
        padding-right: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    .addjoin button {
        background-color: var(--main-clear);
        width: 100%;
        height: 40px;        
        padding-left: 50px;
        padding-right: 50px;
    }
    .addjoin button img {
        border-radius: 50%;
    }
    .ADTT{
        font-size: 10px;
        text-align: right;
        padding: unset;
        width:fit-content;
        margin:unset;
        right:15;
    }
    .all-c-p:active, .all-c-p:focus, .all-c-p:hover {
        border-radius: 5px;
    }
    .customize_container {
        position:fixed;
        width: 85%;
        bottom:0px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid white;;
    }
    #custombackground {
        display: none;
    }
    .closecustomcontainer  {
        right:0;
        top:0;
        border: 1px solid white;
        border-radius: 0px;
        border-style:none none solid solid;
        border-radius: 0px 0px 0px 5px;
    }
    .cc-b p  {
        text-align: left;
    }
    @keyframes overall {
        0% {
            width:20px;
            height:20px;
            bottom:0;
            position:fixed;
            top:45%;
            left:25%;right:25%;
            visibility: visible;
            opacity: 0.8;
        }
        100% {
            opacity: 0.5;
            top:45%
        }
      }
      .imgcontan {
        position:fixed;
        top:45%;
        width: 300px;
        height: 300px;
        left:0px;right:0px;
        margin:auto;
      }
  }






body div,body input, body select,body button {
    -webkit-tap-highlight-color: transparent;


}
