

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Distressed', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    background-color: #24335a;
    overflow-y: hidden;
}

.Title, .Base {
    font-family: 'Garet', sans-serif;

}
#SprintPlusLogo {
    z-index: -2;
    position:absolute;
    opacity: 0.1;
    width: 50%;
    margin:auto;
    left:0;right:0;bottom:0;top:5;
}

.Title {
    width: 95%;

    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #19284d;

}
.Title a {
    font-size: 25px;
    color:white;
}
.Main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position:relative;

}
.theme-divider {
    background-color: rgb(255, 255, 255);
    width: 1px;
    height: 90%;
}

.Project, .Progress {
    margin: 20px;
    width: 190px;
    visibility: hidden;
    
}
body a {
    text-decoration: none;
    color:rgba(244, 216, 231, 0.8);
}
#logo {
    max-width: 90%;
    max-height: 90%;
}
.img-content {
    width:23%;
    display: flex;
    flex-direction: column;
    z-index: -1;

    right:50;
    opacity: 0.9;
    position:absolute;
}
.Base {
    position: absolute;
    bottom:50px;
    width: 100%;
    height: 55px;
    z-index: 10;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.prm-vs-bs, .prm-bs-cl {
    height: 35px;
    width: 35px;
    position: absolute;
    background-color: #24335a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.prm-vs-bs {
    bottom:45px;
    left:10px;
}
.prm-bs-cl {
    bottom:5px;
    left:10px;
}

.prm-vs-ck {
    display: flex;
    gap:5px
}
.bs-ck-pm-p {
    cursor: pointer;
    border-radius: 50%;
}
.bs-ck-pm-p:hover {
    background-color: #24335a;
}
.ck-new {
    border-radius: 5px;
    border: 2x solid;
    display: flex;
    flex-direction: row;
    width: 15%;
    position: absolute;
    right:0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    gap: 10px;
}
.whole-bs-pm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#prm-vs-ck-p {
    transform: scale(1.3);
}




.all-contain {
    width: 80%;
    z-index: 10;
    background-color: #19284d;
    height: 55px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:-40;
    left:0;
    margin:auto;
    right:0;
    transition: 0.5s;
}
.all-contain:hover {
    bottom:0;
}
.Logs a {
    position:absolute;
    right:50;
    top:45;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 2px solid #19284d;
    cursor: pointer;
    color:white;
}
.Logs a:hover {
    border-radius: 10px;
    border: 2px solid white;

}

.all-c-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 45px;
    border-radius: 5px;
    transition : 0.3s;
}
.all-c-p-d {
    visibility: hidden;
    position:absolute;
    font-size: 15px;
}
.all-c-p:hover {
    width: 120px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(28, 46, 89,0.5);
}
.all-c-p:hover .all-c-p-d{
    visibility: visible;
    position:fixed;
}
.all-c-p:hover span {
    visibility: hidden;
    position:absolute;
}


/*
            <div class="f-more">
              <div class="f-m-d">
                Looking for a feat?
              </div>
              <button onclick="window.open('https://www.instagram.com/naf_author/',target='_blank')">
                Contact our team
              </button>
            </div>
*/

.f-more {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.main-more-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.utilities {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 65px;
}
.featuring {
    background-color: rgba(25, 40, 77,0.7);
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.f-f {
    overflow-y: auto;
    height: 300px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.f-t {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.featured {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    
}
.ft-t {
    font-size: 17px;
    font-weight: 600;

}
.ft-d {
    padding: 10px;
    text-align: justify;
}

.f-f button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    color:white;
    background-color: #2c3f70;
    border: 2px solid #2c3f70;
}
.f-f button:hover {
    border: 2px solid white;
}

#contactteam {
    width: 90%;
    background-color: #68511c ;
    border: 2px solid #68511c;
}
#contactteam:hover {
    border: 2px solid white;
}


.m-m-i {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 35%;
    background-color: rgba(25, 40, 77,0.7);
    border-radius: 10px;
}
.m-m-td {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
/*
                <div class="alert">
                  <div class="c-m">
                      ${cm[Math.floor((Math.random() * cm.length))]}
                  </div>
                  <div class="c-d-c">
                    You didn't work on « ${g.name} » today!
                  </div>
                </div>
*/

.alert {
    width: 90%;
    background-color: rgba(31, 48, 92, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    border-radius: 5px;
}
.c-m {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
@keyframes rotateSpan {
    0% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }

  }
.c-m span {
    animation: 1s infinite rotateSpan; 
    color:red;
}
.c-d-c {
    border: 2px solid rgba(31, 48, 92, 0.7);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.c-d-c:hover {
    border: 2px solid white;
}


.nothing-to-see-here {

    padding: 5px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}


/*
        <div class="more">
          <div class="mor-t" title="Want your story to be there? Contact our team.">
            Our favorite stories
          </div>
          <div class="mor-st">
            <div class="st">
              <div class="st-t">
                FR - Nous, et le monde
              </div>
              <div class="st-o">
                <span class="material-symbols-outlined">
                  open_in_new
                  </span>
              </div>
            </div>
          </div>
*/
.more {
    height: 100px;
    width: 65%;
    padding: 10px;

    gap: 10px;
    background-color: rgba(25, 40, 77,0.7);
    border-radius: 10px;
}
.mor-st {
    width: 99%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 55%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position:relative;
}
/*
    <div class="fancybar" id="NousEtLeMonde"></div>

*/

@keyframes TransFormUI {
    0% { width: 0px; }
    100% { width: 100%; }

    
  }
.fancybar {
    width: 30px;
    height: 99%;
    position:absolute;
    bottom:0;
    left:0;
    animation: 4s infinite alternate TransFormUI;
    border-radius: 2px;
    opacity:0.3;
}
#NousEtLeMonde {
    background-color: #F9A602;

}
.st {
    position:relative;
    display: flex;
    width: 90%;
    flex-direction: row;
    height: 30px;
    align-items: center;
    gap: 10px;
    background-color: rgba(31, 48, 92, 0.7);
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px;
}
.st-o {
    margin-left: auto;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.st-l {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.mor-t {
    padding-bottom:10px;
    cursor:help;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


::-webkit-scrollbar {
    cursor:pointer;
    width: 15px;
}
    /* Track */
    ::-webkit-scrollbar-track {
      background: #2c3f70;
      border-radius: 2px;
      cursor: pointer;
      padding: 1px;  

    }

    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #24335a;
        cursor: pointer;
        border: 1px solid #2c3f70;
        border-radius: 10px;

    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #19284d;
        border: 1px solid #2c3f70;    border-radius: 10px;

    }
.welcome-f {
    background-color: #68511c;
    padding: 15px;
    background-color: #19284d;
    border-radius: 10px;
    overflow-y: auto;
}

.q-q {
    margin-top: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    position:relative;
    padding-top: 20px;
}

.q-t {
    position: absolute;
    top:-15;
    padding: 5px;
    background-color: #19284d;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}




@media screen and (320px <= width <= 420px) {
    body {
        position:relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .utilities {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap:40px;
        margin-top: 130px;
        height: 100%;
    }
    .Main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130%;
        height: 100%;
        text-align: center;
        display: flex;
        gap:150px;
        margin: auto;
    }
    .more {
        height: 20%;
        width: 90%;
        position:relative;
        margin-top: 30px;;
    }
    .img-content {
        visibility: hidden;
        position:absolute;
    }
    #p-title {
        width:130%;
        padding: 5px;
        margin-top: -10px;
        margin-left: -10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
    }
    .Logs {
        position: fixed;
        top:-35;
        right:-40;
    }
    .main-more-content {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .featuring, .m-m-i {
        width: 100%;
        height: 50%;
    }
    #p-p-title {
        visibility: hidden;
        position:absolute;
    }
    #SprintPlusLogo {
        margin-left: auto;
        margin-right: auto;
        position:fixed;
    }
    .all-contain {
        width: 100%;
        margin-left: -10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        position:fixed;
        margin-top:auto;
        bottom:0;
        border-radius: 10px;
        gap:5px;
        font-size: 20px;
    }

    .all-c-p span {
        font-size: 30px;
    }
    .all-c-p {
        background-color: #24335a;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        border-radius: 20%;
    }
    .all-c-p-d {
        visibility: hidden;
        position:absolute;
    }
    .mor-st {
        height: fit-content;
        max-height: 75px;
    }
    .all-c-p:hover all-c-p-d{
        visibility: hidden;
        position:absolute;
    }
  }