

.pj-new-ttl {
    font-size: 20px;
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    padding-left: 5px;
    margin-left: 5px;

}
.pj-new {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: var(--main-clear);
    height: 200px;
    position:relative;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
#pj-whl {
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin:unset !important;
}
/*
        <div class="pj-new-ttl"> ${item.name} </div>

*/




.pj-slct-img img {
    border-radius: 5px;

}
.pj-slct-img {
    height: 75%;
    overflow-y: hidden;
    position:absolute;
    width: fit-content;
    max-width: 30%;
    right:5;
    top: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pj-cover {
    max-width: 95%;
    max-height: 100%;
    border-radius: 5px;
}

.pj-new *:not(#folder-open){
    visibility: visible !important;
}

.pj-infos {
    width: 70%;
    z-index:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 5px;
}
.pj-open {
    width: fit-content;

    padding: 10px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid var(--main-blue-dark);
    cursor:pointer;
    gap:5px;
    background-color: var(--main-blue-dark);
    height: 15px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right:15px;
}
.pj-open div {
    width: 80px;
}
#folder-open {
    position: absolute;
    visibility: hidden;
}
#folder, #folder-open {
    height: 100%;
    padding: 0px;
    width: fit-content;
    font-size: 20px;

}
.pj-open:hover #folder {
    position: absolute;
    visibility: hidden !important;
}
.pj-open:hover #folder-open {
    position: relative;
    visibility: visible;
}

.pj-open button {
    width: 50px;
    height: 50px;
    background-color: var(--main-blue-dark);
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.pj-open:hover, .pj-open:hover #folder-open {
        color:var(--main-blue-dark);
        background-color: white;
}

.pj-open-desc {
    font-weight: bold;
    font-size: 13px;
    width:fit-content;
}
.pj-param {
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
    
}

.pj-param-contan {
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    position:relative;
    width:100%
}

.pj-param-contan-view {
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    height: 100%;
    right:20;
    position:absolute;
}
.pj-param-contan span {
    padding: 5px;
    cursor: pointer;
    font-size: 95%;
    display: flex;
    width: 25px;
    height: 25px;
    background-color: var(--main-blue-dark);
    border:none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.pj-param-contan span:hover {
    color:var(--main-blue-dark) !important;
    background-color: white !important;
}
.goalstate span {
    border-radius: 5px;
    padding: 3px;
}
.goalstate {
    position:absolute;
    font-size: 12px;
    bottom:5;
    left:15;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    border:none;
    background-color: var(--main-clear);
    border-radius: 0px 5px 5px 0px;
    left:0;right:0;
    margin:auto;
    width: fit-content;
}
.gi {
    font-size: 13px;
    color:rgba(255,255,255,0.6);
    margin-left: 5px;
}
.pj-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left:auto;
    margin-right: auto;
    overflow-y: auto;
    background-color: var(--main-blue-dark);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 10px;    
    overflow-x: hidden;
    position:relative;
}
.new-pj-contain-sep {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}
.p-n {
    display: flex;
    flex-direction: column;
    gap:5px
}
.new-pj-contain-el {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;
    position:relative;
}
#mandatory, #optionnal {
    position:absolute;
    color:rgba(255,255,255,0.6);
    transform: rotate(-90deg);
    left:-25;

}
#mandatorybar, #optionnalbar {
    width: 1px;
    height: 100%;
    background-color: white;
    position:absolute;
    left:30
}
#mandatory {
    top:150px
}
#optionnal {
    top:60px;
}
.new-pj-contain-el input {
    border-radius: 5px 5px 0px 0px !important;
}
.infomdp span {
    font-size: 15px;
}
.infomdp {
    display:flex;
    flex-direction: row;
    gap:5px;
    width: 80%;
    color:rgba(255,255,255,0.6);
    align-items: center;
    margin-left: 50px;
    font-size: 12px;
}
.following {
    width: 90px;
    height: 500px;
    position: absolute;
    z-index: 2;
    left:25px;
}
.whole-pj-form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#p-bx {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#form-title span {
    font-size: 17px;
}
#form-title {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left:50px;
}

.pj-form input {
    background-color: var(--main-clear);
    border:none;
    border: 2px solid var(--main-clear);
    outline: none;
    width: 80%;
    height: 35px;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.pj-form select {
    -webkit-tap-highlight-color: transparent;

    background-color: var(--main-clear);
    border:none;
    outline: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.pj-form ::placeholder {
    color:white;
    font-style: italic;
    opacity: 0.5;
}
.p-d-p-t {
    position:relative;
}
.howtoaddLink {
    position:absolute;
    right:15%;
    font-weight: normal;
    font-size: 10px;
    padding: 5px;
    top:0;bottom:0;margin:auto;
    border-radius: 5px;
    height: fit-content;
    cursor: pointer;
}
.howtoaddLink:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
.pj-form textarea {
    width: 80%;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: var(--main-clear);
    margin-left: 50px;

}

.n-p-s {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.n-p-s button {
    width: fit-content;

    height: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    border-radius: 5px;
    background-color: var(--main-clear);
    color:white;
    border:none;
    cursor: pointer;
    font-weight: 100;
    border: 2px solid rgba(0,0,0,0);
}
.n-p-s button:hover {
    color:var(--main-blue-dark);
    background-color: white;}


.Save_project {
    width: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.s-p-t {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.s-p-b  {
    width: 100%;
    text-align: center;
}

.s-p-b button {
    width: 100%;
    height: 40px;
    background-color: #2c3f70;
    border-radius: 10px;
    font-size: 25px;
    border:none;
    cursor: pointer;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.s-p-q {
    font-size: 15px;
    text-align: center;
}

.pj-push {
    width: 100%;
}
/*
  <div class="pj-ctnt" id="pj-ctnt">
  <div class="pj-ctnt-opt">
    <button onclick="Project()">
    <span class="material-symbols-outlined">
      add
      </span>
      New project
    </button>
    <div class="pj-ctnt-select">
      <div class="pj-ctn-select-title">
        <span class="material-symbols-outlined">
        filter_alt
        </span>
        Filter projects
      </div>
      <select>
        <option>All</option>
        <option>Starred</option>
        <option>Sleeping</option>
      </select>
    </div>
    </div>
  </div>
*/
.pj-ctn-select-title{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.pj-ctnt-select select {
    width: 150px;
    height: 30px;
    outline:none;
    color:white;
    background-color: var(--main-blue-dark);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-tap-highlight-color: transparent;

}
.pj-ctnt-select select:hover {
    color:var(--main-blue-dark);
    background-color: white;}
.pj-ctnt-select {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:none;
    border-radius:5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--main-clear);
}

.pj-ctnt-opt{
    background-color: var(--main-clear);
    width: fit-content;
    border-radius: 10px;
    height: 50px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right:50px;

}
.pj-ctnt-opt button {
    width: 180px;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: var(--main-clear);
    border:none;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    outline:none;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
    border-radius:5px;
    color:white;
}
.pj-ctnt-opt button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}

.pj-ctnt {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    gap: 15px;
    flex-flow: wrap;
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    row-gap: 10px;
    column-gap: 30px;
    grid-auto-rows: fit-content(0px);
    justify-content: center;
}
.pj-open-and-desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 65%;
    gap:5px;
}
.pj-open-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    position:relative;
    font-weight: normal !important;

}
.iconmeaning {
    margin-left: 10px;
    font-size: 10px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.iconmeaning:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
.pj-open-desc-infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position:absolute;bottom:0;
    align-items: center;
    padding-left: 5px;
}
.pj-open-infos-b {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.pj-open-infos-b span {
    font-size: 15px;
}
.pj-open-desc-info-b {
    font-style: italic;
    font-size: 13px;
    color:rgba(255,255,255,0.6);
    padding-bottom: 4px;
}
.pj-open-desc-ddesc {
    width: 100%;
    height: fit-content;
    max-height: 60%;
    overflow-y: auto;
    padding: 5px;
    padding-top: 0px;

}
#archivewhole {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.archivedgoal {
    width: 100%;
    background-color: var(--main-clear);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.a-g-d {
    font-size: 15px;
    border: 2px solid white;
    border-style: none none none solid;
    padding-left: 10px;
}
.archivedgoal button {
    padding: 10px;
    border-radius: 5px;
    color:white;
    border:none;
    background-color: var(--main-blue-dark);
    margin-bottom: 5px;
    cursor: pointer;
}
.archivedgoal button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}
.archidesc {
    border: 2px solid white;
    border-style: none none none solid;
    padding-left:10px;
    font-size: 15px;
}





/*
Project view:
*/
.pj-whole-contain-all, .pj-b-details  {
    display: none ;
    background-color: var(--main-clear);
    margin-top: unset; 

}


@keyframes pjinfosreveal {
    from {
        height: 0px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    to   {
        height: 100%;
        overflow-y: unset;
        overflow-x: hidden;
    }
  }



.pj-b-details-c div {
    font-size: 15px;
}
.pj-b-details div:not(.pj-b-details-c) {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding-bottom: 10px;
}
.pj-b-details  p,.pj-b-details  span {
    margin:unset;
    color:rgba(255,255,255,0.6);
    font-size: 13px;
}
.pj-b-details-c {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 50%;
}
.pj-b-details {
    width: 95%;
    height: fit-content;
    background-color: var(--main-clear);
    padding:10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;

}
#pjgdesc {
    margin: unset;
    font-size: 13px;
    color:rgba(255,255,255,0.6);
    position:relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.wholegoalsinfo-container {
    width: 95%;
    height: fit-content;
    background-color: var(--main-clear);
    border-radius: 5px;
    padding:5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-bottom: 20px;
}
.wholegoalsinfo-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.pjtask-t {
    font-size: 15px;
}
.wholegoalsinfo-c-t {
    width: 100%;
    position:relative;
    text-align: left;
    z-index:5;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding-bottom: 10px;;
}
.wholegoalsinfo-c-c {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#wholegoalsinfo-c-c-task {
    height: fit-content;
    max-height: 120px;
    justify-content: unset !important;
    overflow: auto;
}
.wholegoalsinfo-c-c  button {
    width: fit-content;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    border:none;
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 10px;
    justify-content: center;
    color:white;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.wholegoalsinfo-c-c  button:hover {
    background-color: white;
    color:var(--main-blue-dark);
}

.wholegoalsinfo-c-t div {
    display: none;
}
.wholegoalsinfo-c-t p:not(#pjgdesc) {
    z-index: 10 !important;
    background-color: var(--main-clear);
    margin: unset;
    width: fit-content;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: auto;
    border-radius: 5px;
    height: fit-content;
    font-size: 20px !important;
}
.wholeinfoshover, .wholegoalsinfo, .wholedetailsinfos, .wholeonlineinfos,.wholearchive {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    width: 100%;
    font-size: 20px;
    height: fit-content;
    z-index: 50;
}
.text2:hover #infosexpand,.text2:hover #goalsexpand,.text2:hover #detailsexpand,.text2:hover #onlineexpand {
    display: inline;
}
.text2:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
.text2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 95%;
    background-color: var(--main-clear);
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.pj-board-parent {
    width: 85%;
    height: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.pj-whole-contain-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 95%;
    position:relative;
    height: fit-content;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 5px;
    gap:5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pj-b-i-i-i{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.pj-b-i-i-i p {
    margin:unset !important;
    color:rgba(255,255,255,0.6);
    font-size: 13px;
}
#pj-b-details-c-t { 
    font-size: 15px;
}
.pj-b-i-i-i span {
    font-size: 20px;
}
.pj-b-i-i-i div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    gap:5px;
}
.pj-b-c {
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 30% !important;
    height: fit-content;
}
.pj-b-c img {
    max-width: 100%;
    border-radius: 5px;
    max-height: 100%;
}
.pjinfocontent {
    width: 73%;
    padding-right: 10px;
    height: 100%;
}
.pj-i-c {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
}
.pj-i-c p {
    margin: unset;
    font-size: 13px;
    color:rgba(255,255,255,0.6);
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 25px;
    width: 80%;
}

.pj-b-p {
    width: 100%;
}
.pjctnt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.pj-b-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    position:relative;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    height: 90%;
    padding: 0px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pj-b-i {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:0px
}
.pj-view-sep {
    width: 60%;
    
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.pj-b-i-c {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pj-b-i-t span {
    font-size: 20px;
}
.pj-b-i-t {
    background-color: var(--main-clear);
    padding:10px;
    font-size: 25px;
    position:relative;
    border-radius:5px;
    display:flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 5px;
    position:relative;
    padding-left: unset;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;

}

.pj-b-i-t:hover .pj-b-i-t-i {
    visibility: visible;
}
.pj-b-i-t-i {
    background-color: rgba(29, 45, 85,0.5);
    width:fit-content;

    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    height: 15px;
    position:absolute;
    top:0;
    bottom:0;margin:auto;
    right:0;
    visibility: hidden;
}
.-pj-b-i-i-desc {
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    position:relative;
}
.-pj-b-i-i-desc span {
    width: fit-content;
    position:absolute;
    top:20;
}
.-pj-b-i-i-c {
    text-align: justify;
    height: fit-content;
    max-height: 100% ;
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: var(--main-blue-dark);
    overflow-y: scroll;
    font-size: 14px;
}
.-pj-b-i-i  a {
    font-size: 15px;
}
.-pj-b-i-i {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    padding-right: 10px;
}
#containLink {
    position: relative;
}
:root {
    --slidein_size: 110px;
  }
  @keyframes LinkedContentSlide {
    0% { width: 0px; }
    50%   { width:var(--slidein_size) }
    100% {width: 0px;}
  }

#a-link-goes {
    width: 110px;
    background-color: white;
    height: 2px;
    position:absolute;
    left: 45;
    bottom:10;
    animation: 4s infinite LinkedContentSlide;
}
.-pj-b-i-i a {
    font-style: italic;
    padding: 10px;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.-pj-b-i-i:hover #a-link-goes {
    background-color: var(--main-blue-dark) !important;
}
.-pj-b-i-i:hover a {
    color:var(--main-blue-dark);
    background-color: white;
}
.pj-b-g {
    width: 20%;
    height: 80%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    gap: 20px;
    align-items: center;
}
.pj-sp-s {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}


.pj-b-g-param {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-clear);
    border-radius: 5px;
    width: 80%;
    min-width: 40px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}
.pj-b-g-param-title span {
    font-size: 15px;

}
.pj-b-g-param-title {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    background-color: var(--main-blue-dark);
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}


.pj-b-g-param:hover  {
    color:var(--main-blue-dark);
    background-color: white;
}
.pj-b-g-param:hover svg {
    fill:var(--main-blue-dark);
}
.pj-b-g-param-title svg {
    fill:white;
    height: 15px;
    width: 15px;
}
.pj-b-g-param:hover p {
    visibility: visible;
    position: relative;
}

.pj-b-goals {
    width: 95%;
    height: 100px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}
.pj-b-g-p {
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--main-blue-dark);
    padding: 10px;
    border-radius: 10px;
}

.pj-b-g-b button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue-dark);
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    gap:10px;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;

}
.pj-b-g-b {
    width: 140px;
    height: 50px;
}
.pj-b-g-b button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}

.g-b-new {
    width: 100%;
    height: 100%;
}
.pj-b-goals  {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
 .g-b-new input {
    background-color: var(--main-clear);
    border:none;
    outline:none;
    color:white;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;

}
.g-b-new textarea {
    background-color: var(--main-clear);
    border:none;
    outline:none;
    color:white;
    height: 80px; 
    border-radius: 5px;
    padding: 5px;

}

.pj-b-goals .goal-save button {
    background-color: var(--main-clear);
    border-radius: 5px !important;
}
.goal-save button {
    border-radius: 5px !important;
}


.pj-b-gg-t {
    font-size: 20px;
    gap: 15px;
    width: 100%;
    height: 30px;
    text-align: center;
}
.pj-b-gg-t-t {
    width: 100%;
    
}

.pj-b-g-c {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

#pj-b-gg {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
    border:none;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--main-blue-dark);
    position:relative;
    padding-top: 10px;
    padding-bottom:50px;
}

#descg{
    position:absolute;
    left:0;
    top:5;
}
.pj-b-gg-d {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 15px;
}

.pjtask {
    position:relative;
    width: 60%;
    background-color: var(--main-blue-dark);
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
.pjtask-i{
    position:absolute;
    right:5;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    top:0;bottom:0;margin:auto;
    background-color: var(--main-blue-dark);
}
.pjtask-i span {
    font-size: 17px;
}
.pj-b-gg-d-1, .pj-b-gg-d-2 {
    width: 90%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap:2px;
    position:relative;
    padding: 5px;
    background-color: var(--main-clear) !important;
    border-radius: 0px 5px 0px 0px;
    border-style: none none none solid;
    border-color: white;
    margin-left: 5px;
    padding-left: 10px;
}
.pj-b-gg-d  {
    display: flex;
    flex-direction: row;
    gap:2px;
}
.pj-b-gg-dd {
    display: flex;
    flex-direction: column;
}
.pj-b-gg-d-2 p {
    margin:unset;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
    padding: unset;
    background-color: var(--main-blue-dark);
    padding: 5px;
    border-radius: 5px;
}
.pj-b-sep {
    width: 100%;
    height: 5px;
}
.pj-b-gg-d-t, .pj-b-gg-d b,.pj-b-gg-d p {
    width: 100px;
    background-color: var(--main-blue-dark);
    height: fit-content;
    margin: unset;
    padding: 5px;
    border-radius: 5px;
}
.pj-b-gg-d-t,.pj-b-gg-d p {
    text-align: left;
    padding-left: 5px;
}
.pj-b-gg-d b {
    text-align: center;
}
.pj-gg-cc  span {
    font-size: 19px;
}
.pj-gg-cc {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}
.DelGoal span, .RingGoal span {
    font-size: 20px;
    margin:unset;
    padding:unset;
}
.DelGoal, .RingGoal {
    width: fit-content;
    height: fit-content;
    
    border-radius: 5px;
    padding: 0px !important;
}

.goal-mngment {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-width: 1px;
    background-color: var(--main-clear);
    border-color: white ;
    padding:5px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    border-style: none none none solid;
    margin-left: 5px;
}
.g-m-t, .pj-b-gg-t {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.goal-mngment-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.DelGoal button, .RingGoal button {
    width: 100%;
    outline:none;
    height: 100%;
    color:white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.DelGoal button p, .RingGoal button p {
    display: none;
    margin:unset;
}
.DelGoal button:hover p, .RingGoal button:hover p{
    color:var(--main-blue-dark) !important;
    display: inline;
}

.DelGoal button, .RingGoal button {
    background-color: var(--main-blue-dark) !important;
}
.DelGoal button:hover, .RingGoal button:hover{
    color:var(--main-blue-dark) !important;
    background-color: white !important;
}
::-webkit-scrollbar {
    cursor:pointer;
    width: 15px;
}
    /* Track */
    ::-webkit-scrollbar-track {
      background: #24335a;
      border-radius: 2px;
      cursor: pointer;
      padding: 1px;
    }

    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #24335a;
        cursor: pointer;
        border: 1px solid #2c3f70;

    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--main-blue-dark);
        border: 1px solid #2c3f70;
    }


.mdf-b {
    width: 95%;
    height: fit-content;
    max-height: 100%;
    padding: unset;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position:relative !important;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid var(--main-blue-dark);
    background-color: var(--main-clear);
    border-radius: 5px;
    margin-top: 50px;
}
.mdf-b input::placeholder, .mdf-b textarea::placeholder {
    font-style: italic;
    color:rgba(255,255,255,0.6)
}

.mdf-t {
    font-size: 18px;
    padding: 10px;
    position:absolute;
    top:-22;
    padding-left: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-blue-dark);
    width: 90%;
    background-color: var(--main-clear);
    left: 0;
    right: 0;
    margin:auto;
}
.mdf-t .howtoaddLink {
    right:10;
    font-size: 13px;
}
.mdf-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mdf-input textarea {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--main-blue-dark);
    border-style: none none solid none;
    border-color: rgba(0,0,0,0);
    height: 150px;
    padding: 15px;
}
.mdf-input textarea:hover, .mdf-input textarea:focus {
    border-style: none none solid none;
    border-color: white;
}
.mdf-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-top:50px;
}
.mdf-b input {
    width: 80%;
    color:white;
    background-color:var(--main-blue-dark);
    outline:none;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid rgba(255,255,255,0);
    transition: 0.1s;
    border-style: none none solid none;


}
.mdf-b input:hover, .mdf-b input:focus {
    border: 2px solid white;
    border-style: none none solid none;

}
.mdf-b button {
    width: fit-content;
    color:white;
    background-color:var(--main-blue-dark);
    border:none;
    outline:none;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.mdf-b button:hover {
    color:var(--main-blue-dark);
    background-color: white;
}
.pj-b-g-param svg{
    fill: white;
    height: 25px;
    width: 25px;
}

.pj-ctn-select-title span {
    font-size: 18px;
}

.ifo {
    position:absolute;
    font-size: 15px;
    top:-20;
    background-color: var(--main-blue-dark);
    padding: 5px;
    border-radius: 10px;
    left:5;
}
.g-b-n-t {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
    height: 100%;
}
.g-b-n-t-t {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position:relative;
    padding-top: 20px;
}
.g-b-n-t-t input::placeholder,.g-b-n-t-t textarea::placeholder {
    font-style: italic;
    color:rgba(255,255,255,0.5)
}
.g-b-n-t-t input {
    width: 100%;
    background-color: var(--main-clear);
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 5px;
    border:none;
    color:white;
    border-radius: 5px 5px 0px 0px !important;
    border-color:rgba(0,0,0,0);
    border-style: none none solid none !important;
}
.g-b-n-t-t input:hover, .g-b-n-t-t textarea:hover,.g-b-n-t-t input:focus, .g-b-n-t-t textarea:focus {
    border-radius: 5px 5px 0px 0px !important;
    border-color:white !important;
    border-style: none none solid none !important;
}
.g-b-n-t-t input[type=number] {
    width: 20%;
    background-color: var(--main-clear);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color:white;
    text-align: left;

}
.g-b-n-t-t textarea {
    width: 100%;
    background-color: var(--main-clear);
    height: 81px;
    padding: 10px;
    color:white;

}
.mdf-i {
    text-align: center;
    width: 98%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:5px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}
#form-intro-title {
    display: none;
}

#AlertMissingContent {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:red;
    visibility: hidden;
    position:absolute;
}
.pj-form input[type="date"] {
    width: 25%;
    cursor: pointer;
    border-radius: 5px;
}
.pj-form input, .pj-form textarea {
    border: 2px solid rgba(0,0,0,0);
    border-style: none none solid none;
    border-radius: 5px 5px 0px 0px;
}    

.pj-form input:hover, .pj-form textarea:hover,
.pj-form input:focus, .pj-form textarea:focus
{
    border: 2px solid white;
    border-style: none none solid none;

}
.pj-open-desc-infos-d {
    background-color: var(--main-blue-dark);
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (width <= 800px) {
    .pj-ctn-select-title p {
        display: none;
    }
}

@media screen and (320px <= width <= 420px) {
    .archivedgoal {
        text-align: left;
    }
    .pjctnt {
        overflow-x: hidden;
    }
    .pj-ctnt {
        width: 100%;
        height: 100%;
        margin-top: unset;
        display: flex ;
        flex-direction: column ;
        gap:10px ;
        flex-flow:column;
        align-items: center ;
        justify-content: unset;
    }
    .pj-ctnt-opt {
        width: fit-content !important;  
    }
    .pj-new {
        width: 92%;
        margin-left:unset;
        height: fit-content;
        min-height: 200px;
    }
    .pj-slct-img {
        right: 10px;
    }
    .pj-board-parent {
        display: flex;
        width: 100%;
        height: 93%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:0px !important;
    }
    .pj-b-g {
        position:fixed;
        width: 100%;
        text-align: left !important;
        display: flex;
        height: fit-content;
        flex-direction: row;
        align-items: center;
        padding-bottom: 0px;
        top:100px;
        justify-content: center;
        gap:5px;
    }
    .pj-b-g-param p {
        visibility: hidden;
        position:absolute;
        display: none;
        margin:unset;
    }
    .pj-b-g-param,.pj-b-g-param:active, .pj-b-g-param:hover    {
        padding: 0px !important;
        width: 35px !important;
        height: 35px !important;
        border-radius: 5px;
        background-color: var(--main-clear);
        border:none;
        gap:0px;
    }
    .pj-b-g-param:hover  {
        color:white;
        background-color: var(--main-clear);
    }
    .pj-slct-img img {
        border:none;
    }
    .howtoaddLink {
        display: none !important;
    }
    .pj-b-content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 10px;;
        padding-bottom: 0px;;
        padding: 10px;
        margin-top: 15%;
    }
    .pj-b-i-t {
        position:relative;
        padding-left: unset;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .pj-b-g-param-title p {
        display: none;
    }
    .mdf-button {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }

    .pj-b-gg-d {
        text-align: justify;
    }
    .pj-b-g-p {
        flex-direction: row;
        width: fit-content;
        align-items: center;
        justify-content: unset;
        text-align: unset;
        height: fit-content;
        gap:5px;
        border:none;
        padding: 10px;
        border: 2px solid var(--main-clear);
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 20px;
    }
    
    .pj-b-g-param-title, .pj-b-g-param-title span {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .pj-b-g-param-title {
        width: 85%;
        padding-top: 2px;
        padding-bottom: 2px;
        top:-21;
        left:0;
        right:0;
        margin:auto;
        background-color: unset;
        color:rgba(255,255,255,0.6)
    }
    .pj-b-c {
        width: 35% !important;
        display: flex;
        margin-left:5;
    }
    .-pj-b-i-i-c {
        font-size: 12px;
        height: 80px;
        overflow-y: auto;
        padding-bottom: 0px;
    }
    .pj-i-c {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pj-b-p {
        width: 100%;
        height: fit-content;        
        padding: none;
        justify-content: center;
        align-items: center;
        display: flex;
        margin:none;
        margin-left: auto;
        margin-right: auto;
    }
    .pj-b-goals{
        width: 100%;
        position:relative;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .pj-b-g-c {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #pj-b-gg {
        width: 95%;
        position:relative;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }
    .gi {
        text-align: left;
        width: 85%;
    }
    .goalstate {
        bottom:6;
    }
    .pj-b-gg-t-t {
        width: fit-content;

    }
    .-pj-b-i-i {
        font-size: 11px;
        text-align: left;
        background-color: var(--main-clear);
    }
    :root {
        --slidein_size: 75px;
      }
    .mdf-b {
        width: 95%;
        margin: auto;
        text-align: left;
        margin:unset;
        margin-top: 20px;;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;;
        background-color: var(--main-clear);
    }
    .mdf-input {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .mdf-input input, .mdf-input textarea {
        background-color: var(--main-blue-dark);
        width: 95%;
    }
    .mdf-t {
        text-align: center;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        background-color:var(--main-blue-dark);
        border: 2px solid var(--main-clear)
    }
    .mdf-b button  span {
        font-size: 18px;
    }
    .mdf-b button {
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        background-color: var(--main-blue-dark);
    }
    .mdf-button {
        padding-top: 10px;
    }
    .mdf-i {
        width: 95%; 
    }

    .-pj-b-i-i, .-pj-b-i-i-desc {
        width: 90%;
        padding: 10px;
        background-color: var(--main-clear);
        border-radius: 5px;
    }
    .g-b-n-t {
        width: 100%;
        justify-content: center;
        height: fit-content;

    }
    .g-b-n-t-t {
        width: 80%;
    }
    #_1, #_2 {
        -webkit-tap-highlight-color: transparent;
    }
    #_1:hover, #_2:hover,#_1:active, #_2:active, #_1:focus, #_2:focus {
        border:2px solid #2c3f70;
    }
    #form-intro-title {
        visibility: hidden;
        position:absolute;
    }
    .whole-pj-form {
        width: 90%;
        text-align: unset;

    }
    .pj-form {
        padding: 10px;
        padding-left: 0px;
        width: 100%;
        border-radius: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: unset;
    }
    .n-p-s button {
        width: 65%;
        font-size: 20px;
    }
    .pj-form input[type="date"] {
        width: 35%;
    }
    .p-d2-e {
        margin-top: 20px;;
    }
    .n-p-s button:hover {
        border: 2px solid rgba(0,0,0,0);
    }
    .pj-ctnt-opt {
        width: 95%;
        gap:10px;
        flex-direction: row-reverse;
        position:relative;
    }
    .pj-ctnt-opt button {
        border:none;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
        width: 150px !important;
    }
    .pj-ctnt-select {
        width: 100%;
        border:none;
        padding: none;
    }
    .pj-ctn-select-title {
        gap:5px;  
        display: none;      
    }
    #FilterProject {
        width: 100%;
    }
    #about {
        height: 120px;
    }
    .howtoaddLink {
        top:0;bottom:0;margin:auto;
        display: flex;
        align-items: center;
        right:30;
    }
    .pj-open-desc-ddesc {
        text-align: left;
    }
    .pjinfocontent {
        width: 100%;
    }
    .text2:hover {
        background-color:var(--main-clear);
        color:white;
    }
    .pj-i-c p {
        text-align: left;
        margin-left: 0px;
        width: 90%;
    }
    .pj-i-c {
        width: 100%;
    }
    .pj-b-i {
        width: 100%;
        padding-left: 0px;
    }
    .-pj-b-i-i {
        width: 100%;
    }
    .-pj-b-i-i-desc {
        width: 100%;
    }
    #detailswhole, #infoswhole,#goalswhole,#archivewhole {
        width: 100%;
        border-radius: px;
    }
    .pj-b-c {
        margin-right:0px;
    }
    #pjgdesc {
        margin-left: 20px;
    }
    .PJContainerDesc {
        text-align: left;
    }
    .pjtask {
        width: 80%;
        text-align: left;
    }
    .pj-b-details-c p,  .pj-b-details-c div{
        text-align: left;
    }
}

