.Review-form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    background-color: var(--main-blue-dark);
    border-radius: 10px;
    border: 2px solid white;
    position:relative;
}

.r-f-pic {
    height: 100%;
    width: 30%;
}
#r-f-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(30, 47, 92,0.5);
    border-radius: 5px;
}
.r-f-pic img {
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
}
.r-f-m {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 30px;
}

.r-f-t {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    top:-15;
    left:210;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    position:absolute;
    background-color: var(--main-blue-dark);

}

.buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    gap:10px;
    height: 55px;
}
.buttons button:hover {
    border: 2px solid white;
}
.buttons button {
    width: 140px;
    border-radius: 5px;
    background-color: var(--main-blue-dark);
    border:none;
    outline:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:white;
    border: 2px solid var(--main-blue-dark);
}

.r-f-1 {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px
}
