.writingcontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.writingcontent button {
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border:none;
    background-color: var(--main-clear);
    color:white;
    cursor: pointer;
}

.writingselect {
    width: 20%;
    height: 100%;
    background-color: var(--main-blue-dark);
    min-width: 200px;
    border-radius: 5px;
}
.writingselectinfos p,.writingchapterinfos p {
    font-size: 15px;
    width: 100%;
    text-align: center;
    height: 15px;
    margin-bottom: 5px;
}
#writingselect, #writingselectchap {
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    max-height: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;


}
.namecontent {
    width: 90%;
    overflow-x: auto;
}
#writingselectchap {
    height: fit-content;
    max-height: 30%;
}
.pj-select-writing, .goal-select-writing {
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--main-clear);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.goal-select-writing {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.goal-select-writing span {
    position:absolute;
    right:5;
    font-size: 15px;
}
.pj-select-writing:hover, .goal-select-writing:hover {
    background-color: rgba(255,255,255,0.1);
}
.pj-select-writing span {
    padding: 5px;
    border-radius: 5px;
}
#writingselectsep {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#writingdisplayer {
    width: 80%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap:0px;
}
#editcontent * {
    background-color: unset !important;
    padding: unset;
    margin:unset;
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Distressed', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 15px !important;
}
#editcontent div:not(#styletextalign), #editcontent span, #editcontent p  {
    display: inline  !important;
    height: fit-content;
    white-space: unset !important;
    font-family: 'Bebas Neue', cursive !important;
    font-family: 'Comfortaa', cursive !important;
    font-family: 'Encode Sans SC', sans-serif !important;
    font-family: 'Fira Sans', sans-serif !important;
    font-family: 'Heebo', sans-serif !important;
    font-family: 'Josefin Sans', sans-serif !important;
    font-family: 'Kanit', sans-serif !important;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Rubik Distressed', cursive !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-family: 'Ubuntu', sans-serif !important;
    white-space: pre-line !important;
    width:100% !important;


}
#editcontent b ,  #editcontent i {
    display: inline  !important;

}
#styletextalign {
    display: block !important;
    width:100% !important;
    
}

@keyframes slidein {
    0% { opacity: 1; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
  }

.savebubble span {
    font-size: 10px;
    background-color: #ff0000 !important;
    padding: 0px !important;    color:white !important;
animation: 3s linear infinite slidein;
}

.savebubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    color:white !important;
    right: 5;;
    bottom:5;
    

}
#writingdisplayer #editcontent {
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    border:none;
    outline:none;
    font-size: 15px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: white !important;
    border: 2px solid var(--main-clear)
}

.chaptermv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}
.chapternew {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position:relative;
    justify-content: start;
}
.autosave , .autosave span {
    font-size: 15px;
}
.autosave {
    width: fit-content;
    position:absolute;
    bottom:0;
    right:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: var(--main-clear);
    padding-left: 10px;
    border-radius: 5px 0px 5px 0px;
    padding-right: 10px;
    gap: 5px;
}
.chaptermv input::placeholder, #newchapterdesc textarea::placeholder{
    color:rgba(255,255,255,0.6);
    font-style: italic;
}
#newchapterdesc {
    visibility: hidden;
}
.chaptermv input {
    padding:10px;
    outline:none;border:none;
    background-color: var(--main-clear);
    color:white;
    border-radius: 5px 5px 0px 0px;
    border-color: rgba(0,0,0,0);
    border-style: none none solid none;
    cursor: pointer;
}
.chaptermv input:hover, .chaptermv input:focus {
    border-color: white;
}
.chaptermv input[type="number"] {
    width: 70px;
}
.chapterdescription {
    position:absolute;
    width: 300px;
    height: 100px;
    bottom:-108;
    left:5;
    visibility: hidden;
}
.itemact {
    position:absolute;
    right:0;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.chaptermvv {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.chaptermvv input{
    height: 100%;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;

}

.chaptermvv input::-webkit-color-swatch {
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
.itemact span, .chaptermvv span {
    padding: 5px;
    background-color: var(--main-clear);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.itemact span:hover, .chaptermvv span:hover {
    background-color: white;
    color:var(--main-blue-dark);
}
#saveDesc {
    z-index:50;
    position:absolute;
    right:0;
    bottom:0;
    border-radius: 5px 0px 5px 0px;
    
}
.chapterdescription textarea {
    position:absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--main-clear);
    border: 2px solid var(--main-blue-dark);
    text-align: left;
    border-radius: 5px;
    overflow-y: auto;
}
.writingdisplayer textarea{
    width:fit-content;
    height: 100%;
}
.chapternewopendesc span, .chapternewopendesc {
    font-size: 15px;

}
.chapternewopendesc {
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 100%;
    cursor: pointer;
    align-items: center;
    background-color: var(--main-clear);
    border-radius: 5px;
    justify-content: center;
}
/*
19284d
*/

.removeChapter {
    height: 35px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.removeChapter span:hover {
    background-color: var(--main-clear) !important;
    color:white !important;
}

.removeChapter span {
    cursor: unset !important;
}

.removeChapter:hover input {
    display: inline;

}

.removeChapter input {

    border: 2px solid white;
    border-style: none none solid none;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    padding-left: 5px;
    display: none;

}


/*
                    <div class="numberinput">
                        <input type="text" onchange="CheckInt(this)" min="1" value="${!chapterincharge?chaptersnb:chapterincharge.number}" id="newchapternb" placeholder="x">
                        <div class="plusless">
                            <span class="material-symbols-outlined" onclick="MoreInt()">
                            add
                            </span>
                            <span class="material-symbols-outlined" onclick="LessInt()">
                            remove
                            </span>
                        </div>
                        </div>
*/
.numberinput {
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.plusless {
    width: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-clear);
    cursor: pointer;
}
.plusless span {
    font-size: 15px;
}
.plusless span:hover {
    color:var(--main-blue-dark);
    background-color: white;
    border-radius: 5px;
}
.numberinput input {
    width: 40px;
    text-align: center;
    pointer-events:none;
    padding: 0px;
    border-radius: 5px 0px 0px 5px;
}

#clicktodevelop {
    display: none;
}
.infovocal {
    display: none;
}
@media screen and (320px <= width <= 420px) {
    .infovocal {
        display: flex;
        flex-direction: row;
        gap: 5px;
        position:fixed;
        width: 100%;
        text-align: center;
        justify-content: center;
        bottom:1px;;
        align-items: center;
        background-color: var(--main-clear);
        border:1px solid white;
        border-style: none none solid none;
        padding: 5px;
        left: 0px;
        right:0px;
        margin:auto;
        font-size: 15px;
        color:rgba(255,255,255,0.8)
    }
    .infovocal span {
        font-size: 15px;
    }
    .writingcontent {
        display: flex;
        flex-direction: column;
        gap:50px;
        padding-top: 110px;
    }
    .writingselect {
        width: 75%;
        height: 50px;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: var(--main-clear);
        position:absolute;top:0;
        left:0;right:0;
        margin: auto !important;

    }
    .writingselect:hover{
        height: fit-content;
        max-height: 80%;
        z-index: 50;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid var(--main-blue-dark);
    }
    #editcontent {
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;
        height: 90% !important;
    }
    .chaptermvv {
        justify-content: center;
    }
    #clicktodevelop {
        display: block;
        height: 31px !important;
        padding: 5px;
        width: 95%;
        margin-top: 2.5px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--main-clear);
        border: 2px solid var(--main-blue-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    #writingdisplayer {
        width: 100%;
    }
    .chapternew {
        position:fixed;
        bottom:25px;
        left:0px;
        background-color: var(--main-clear);
        height: 80px;
        padding: 10px;

    }
    .itemact {
        left:0;
        bottom:5;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .itemact span {
        background-color: var(--main-blue-dark);
    }
    .numberinput {
        height: 40px;
        gap:0px;
        position:absolute;
        right:30;

    }
    .numberinput input, .chapternew input, .chapternewopendesc {
        background-color: var(--main-blue-dark) !important;
        height: 40px;
    }
    .plusless {
        gap:5px;
        background-color: var(--main-blue-dark);
    }
    .plusless span {
        background-color: var(--main-blue-dark) !important;
        font-size: 18px;
        height: 17.5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .plusless span:hover, .removeChapter:hover input, .removeChapter span:hover, .writingcontent button:hover,.chaptermvv span:hover, .chapternewopendesc:hover, .itemact:not(#removechapter) span:hover {
        color:white;
        background-color: var(--main-clear);
    }
    .goal-select-writing {
        text-align: left;
    }
    .chapterdescription {
        bottom:unset;
        top:-110;
        width: 80%;
        justify-content: unset;
        text-align: left;
        left:0;right:0;
        margin:auto;
    }
    #writingselectchap button {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        background-color: var(--main-blue-dark) !important;
    }
    .chapterdescription textarea {
        border: 3px solid var(--main-clear);
        width: 100%;
        border-color: var(--main-clear) var(--main-clear) white var(--main-clear);
    }
    .pj-select-writing,.goal-select-writing {
        background-color: var(--main-blue-dark) !important;
    }
}